.table {
  border: 1px solid #eee;
  background: white;

  .cell {
    padding: 0.18rem 0.3rem;
    font-size: 0.75rem;
    font-weight: normal;
    vertical-align: middle;

    &-teacher {
      width: 5rem;
    }

    &-level {
      width: 3rem;
      text-align: center;
    }

    &-group {
      width: 5rem;
      text-align: center;
    }
  }

  .tbody {
    .cell {
      color: black;
    }

    .table-row:hover {
      background: #ccc;
    }

    .row-odd {
      background: #eee;
    }

    .row-even {
      background: white;
    }
  }

  .select {
    cursor: pointer;
    vertical-align: text-top;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 0.6rem;
  }
}
