.table {
  border: 1px solid #eee;
  background: white;

  .cell {
    padding: 0.18rem 0.3rem;
    font-size: 0.75rem;
    font-weight: normal;

    &-teacher {
      width: 5rem;
    }

    &-level {
      width: 3rem;
    }

    &-group {
      width: 5rem;
      text-align: center;
    }
  }

  .thead {
    .cell {
      background: var(--primary);
      vertical-align: top;
      border-bottom: none;
      font-weight: bold;
      color: white;
      transition: 0.2s ease background;
    }
  }

  .tbody {
    .cell {
      color: black;
    }

    .table-row:hover {
      background: #ccc;
    }

    .row-odd {
      background: #eee;
    }

    .row-even {
      background: white;
    }
  }

  .select {
    cursor: pointer;
    vertical-align: text-top;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 0.6rem;
  }
}
