.btn-icon {
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 3px;
  font-weight: normal;
  color: white;
  transition: 0.3s all;

  .svg {
    fill: white;
  }

  &:hover {
    color: var(--primary);
    background: white;

    .svg {
      fill: var(--primary);
    }
  }

  &.active,
  &.active:hover {
    background: var(--success);
    border-color: var(--success);
    .svg {
      fill: white;
    }
  }
}
