.header {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.3rem;
    font-weight: normal;
  }

  .btn-icons-group {
    display: flex;

    .btn-icon {
      margin-left: 0.5rem;
    }
  }
}
