.thead {
  .cell {
    position: relative;
    background: var(--primary);
    vertical-align: middle;
    border-bottom: none;
    color: white;
  }

  .btn-icons-group {
    display: none;
    position: absolute;
    bottom: -5px;
    left: 0;
    padding: 0.2rem 0.5rem;
    width: 100%;
    min-height: 3.5rem;
    background: var(--primary);
    border-radius: 5px;
    border: 1px solid #288dff;
  }

  .cell:hover .btn-icons-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
