.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 7.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 0.1875rem solid #14d9c4;
  overflow: hidden;
  transition: 0.25s all;
}

.card.active {
  border-color: #009925;
}

.card__img {
  width: 100%;
}

.card__title {
  display: block;
  margin: 0;
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.card__description {
  display: block;
  margin: 0;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
}

.card__btn {
  display: block;
  margin: 0.25rem 1rem 0.8rem;
  padding: 0.3rem 1rem;
  padding: 0.4rem 0.8rem;
  background-color: #14d9c4;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: 0.25s all;
}

.card__btn:hover {
  background-color: #099d8d;
}
