.form__label {
  margin: 0 0 0.25rem 0;
  font-size: 1rem;
}

.form__input-text {
  margin: 0.25rem;
  padding: 0.3rem;
  background-color: #ddd;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  outline: none;
  vertical-align: middle;
}

.form__input-text:focus {
  background-color: #ccc;
}

.form__btn {
  margin: 0.25rem;
  padding: 0.35rem 0.8rem;
  text-align: center;
  background-color: #14d9c4;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 0.8rem;
  vertical-align: middle;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
}

.form__btn:hover {
  background-color: #099d8d;
  border-color: #14d9c4;
}
