.icon {
  margin: 0.25rem;
  padding: 0.5rem 0.5rem;
  width: 0.5rem;
  text-align: center;
  background-color: #14d9c4;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.6rem;
  vertical-align: middle;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
}

.icon * {
  color: white;
}

.icon:hover {
  background-color: #099d8d;
  border-color: #14d9c4;
}
