.page {
  padding: 1rem;
  background: 0;
}

.page * {
  transition: 0.5s all;
}

.col2 {
  display: flex;
  flex-direction: row;
}

.col2 > * {
  width: 50%;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

/* others styles */

.hidden {
  display: none;
}

.border--medium {
  border: solid 3px #ddd;
}

.border--error {
  border-color: #d50f25;
}

.border--success {
  border-color: #009925;
}

.border--warning {
  border-color: #eeb211;
}
